$font-family: "Sansita", sans-serif;
$font-family-2: "Roboto", sans-serif;

$primary: #133b5c;
$secondary: #1e5f74;
$light: #fcdab7;

$background: #1d2d50;

$danger:#7b113a;
$cancel: #707070;
$success: #117b64;
$warning: #bb9f01;







$smartphone: 480px;
$tablet: 768px;
$desktop: 1024px;
